@font-face {
    font-family: "BornReady";
    src: url("../assets/fonts/bornreadyupright.otf") format("opentype");
}
@font-face {
    font-family: "Mistletoe";
    src: url("../assets/fonts/mistletoesans.otf") format("opentype");
}
@font-face {
    font-family: "CenturyGothic";
    src: url("../assets/fonts/CenturyGothic.otf") format("opentype");
}

@media screen and (max-width: 800px) {
    body {
        
    }
    header {
        height: 100px;
        box-sizing: border-box;
        margin-bottom: 50px;
    }
    .ward {

    }
    #bee {
        width: 100px;
        left: 50%;
        transform: translate(-50%, 47%);
    }
    .beehive-container.first {
        height: 60px;
        left: -45px;
        top: 32px;
    }
    .beehive-container.second {
        height: 70px;
        right: -62px;
        top: 22px;
    }
    .beehive {
        width: 150px;
        position: relative;
        top: 10px;
    }
    .beehive.first {
        transform: rotate(32deg);
    }
    .beehive.second {
        transform: rotate(-20deg);
    }
}

@media screen and (min-width: 801px) {
    body {
        
    }
    header {
        height: 115px;
        margin-bottom: 75px;
    }
    #bee {
        width: 175px;
        left: 50%;
        transform: translate(-50%, 15%);
    }
    .beehive-container {
    
    }
    .beehive-container.first {
        height: 74px;
        left: -53px;
        top: 33px;
    }
    .beehive-container.second {
        height: 90px;
        right: -75px;
        top: 17px;
    }
    .beehive {
        width: 200px;
        position: relative;
        top: 10px;
    }
    .beehive.first {
        transform: rotate(32deg);
    }
    .beehive.second {
        transform: rotate(-20deg);
    }
}

html, body {
    
}
body {
    font-family: 'Century Gothic';
    width: 100vw;
    
}
.content {
    padding: 20px;
}
header {
    width: 100%;
    position: relative;
    border-bottom: solid black 8px;
    overflow-x: hidden;
    
}
#bee {
    position: absolute;
    z-index: 10;
}
.beehive-container {
    position: absolute;
    overflow: hidden;
}
.header-text {
    font-family: BornReady;
}
p {
    font-family: CenturyGothic;
}
